{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="text-center">Mis presupuestos</h1>
<div class="bottom-footer">
  {% for p in presupuestos %}
  <div class="container jumbotron">
    <div class="row">
      <div class="col-lg-4 my-auto">
        <h5 class="text-center">Interesado:</h5><p class="text-center">{{p.interesado}}</p>
       <h5 class="text-center">Notas:</h5><p class="text-center">{{p.notas}}</p>
      </div>
      <div class="col-lg-4 my-auto">
       <h5 class="text-center">Vendedor:</h5><p class="text-center">{{p.vendedor}}</p>
       <h5 class="text-center">Fecha de entrega:</h5><p class="text-center">{{p.fecha_entrega}}</p>
      </div>
       <div class="col-lg-4 my-auto">
       <h5 class="text-center">Precio:</h5><p class="text-center">{{p.precio}}€</p>
       {% if user == p.interesado.usuario %}
       {% if p.resp_vendedor == True %}
       <h5 class="text-center">Estado:</h5><p class="text-center">Aceptado</p>
       {% endif %}
       {% if p.resp_vendedor == False %}
       <h5 class="text-center">Estado:</h5><p class="text-center">Rechazado</p>
       {% endif %}
       {% if p.resp_vendedor == None %}
       <h5 class="text-center">Estado:</h5><p class="text-center">En espera</p>
       {% endif %}
       {% endif %}
       {% if user == p.vendedor.usuario %}
       {% if p.resp_interesado == True %}
       <h5 class="text-center">Estado:</h5><p class="text-center">Aceptado</p>
       {% endif %}
       {% if p.resp_interesado == False %}
       <h5 class="text-center">Estado:</h5><p class="text-center">Rechazado</p>
       {% endif %}
       {% if p.resp_interesado == None %}
       <h5 class="text-center">Estado:</h5><p class="text-center">En espera</p>
       {% endif %}
       {% endif %}
      </div>
    </div>
    <br>
  </div>
  {% endfor %}
</div>
{% endblock %}

