{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <h2 class="text-left" style="float: left;"><a href="/presupuesto/enviados">Enviados</a></h2>
  <h2 class="text-right" stlye="float: right">Recibidos</h2>
</div>
<div class="bottom-footer">
  {% for p in presupuestos %}
  <div class="container jumbotron">
    <div class="row">
      <div class="col my-auto">
        <h5 class="text-center">Petición:</h5>
        <p class="text-center">{{p.peticion}}</p>
      </div>
      <div class="col my-auto">
        <h5 class="text-center">Interesado:</h5>
        <p class="text-center">{{p.interesado}}</p>
      </div>
      <div class="col my-auto">
        <h5 class="text-center">Respuesta del vendedor:</h5>
        {% if p.resp_vendedor == True %}
        <p class="text-center">ACEPTADO</p>
        {% endif %}
        {% if p.resp_vendedor == False %}
        <p class="text-center">RECHAZADO</p>
        {% endif %}
        {% if p.resp_vendedor == None %}
        <p class="text-center">PENDIENTE</p>
        {% endif %}
        <h5 class="text-center">Respuesta del interesado:</h5>
        {% if p.resp_interesado == True %}
        <p class="text-center">ACEPTADO</p>
        {% endif %}
        {% if p.resp_interesado == False %}
        <p class="text-center">RECHAZADO</p>
        {% endif %}
        {% if p.resp_interesado == None %}
        <p class="text-center">PENDIENTE</p>
        {% endif %}
      </div>
      <div class="col my-auto">
        <p class="text-center"><a href="{% url 'mostrarPresupuesto_url' p.id %}" class="btn btn-dark ">Ver presupuesto</a></p>
        {% if p.resp_vendedor == True %}
        <p class="text-center"><a href="{% url 'mostrarRespuesta_url' p.id %}" class="btn btn-dark ">Ver respuesta</a></p>
        {% endif %}
      </div>
    </div>
  </div>
  {% empty %}
  <h1 class="text-center display-4">No has recibido ningún presupuesto</h1>
  {% endfor %}
  <div class="container text-center">
    <ul class="pagination">
      {% if presupuestos.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{presupuestos.previous_page_number }}">Anterior</a></li>
      {%else %}  
        <li class="page-item disabled">
          <span class="page-link">Anterior</span>
        </li>
      {% endif %}
      {% for num in presupuestos.paginator.page_range %}
      {% ifequal num presupuestos.number %}
        <li class="page-item active">
          <span class="page-link">
            {{ num }}
            <span class="sr-only">(current)</span>
          </span>
        </li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endifequal %} 
    {% endfor %}
      {% if presupuestos.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{presupuestos.next_page_number }}">Siguiente</a>
        </li>
      {%else%}
      <li class="page-item disabled">
        <span class="page-link">Siguiente</span>
      </li>
      {% endif %}
      
    </ul>
  </div>
</div>
{% endblock %}