{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="text-center">Compras a pagar</h1>
<div class="bottom-footer">
  {% for c in compras %}
  <div class="container jumbotron">
    <div class="row">
      <div class="col-lg-4 my-auto">
        <!-- <img src={{c.imgcompra_set.all.0.imagen.url}} height="200" width="200" class="img-fluid border border-dark"> <br> <br> -->
        <!-- <p class="text-center">
          <a href="{% url 'pagoCompras_url' c.id %}" class="btn btn-dark m-auto">Realizar pago</a></p> -->
        <h5 class="text-center">ID de la compra:</h5>
        <p class="text-center">{{c.id}}</p>
        <p class="text-center"><a href="{% url 'pagoCompras_url' c.id %}" class="btn btn-dark m-auto">Realizar pago</a></p>
      </div>
      <div class="col-lg-4 my-auto">
        <h5 class="text-center">Vendedor:</h5>
        <p class="text-center">{{c.vendedor}}</p>
        <h5 class="text-center">Fecha de compra:</h5>
        <p class="text-center">{{c.fecha_compra}}</p>
      </div>
      <div class="col-lg-4 my-auto">
        <h5 class="text-center">Comprador:</h5>
        <p class="text-center">{{c.comprador}}</p>
        <h5 class="text-center">Precio:</h5>
        <p class="text-center">{{c.precio}} €</p>
      </div>
    </div>
  </div>
  {% empty %}
  <h1 class="text-center display-4">No hay compras que pagar</h1>
  {% endfor %}
</div>

{%if compras%}
<div class="container text-center">
  <ul class="pagination">
    {% if compras.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{compras.previous_page_number }}">Anterior</a></li>
    {%else %}
    <li class="page-item disabled">
      <span class="page-link">Anterior</span>
    </li>
    {% endif %}
    {% for num in compras.paginator.page_range %}
    {% ifequal num compras.number %}
    <li class="page-item active">
      <span class="page-link">
        {{ num }}
        <span class="sr-only">(current)</span>
      </span>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
    {% endifequal %}
    {% endfor %}
    {% if compras.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{compras.next_page_number }}">Siguiente</a>
    </li>
    {%else%}
    <li class="page-item disabled">
      <span class="page-link">Siguiente</span>
    </li>
    {% endif %}

  </ul>
</div>
{%endif%}
{% endblock %}