{% extends 'base.html' %}
{% block content %}
<div class="bottom-footer">
<div class="container">
<form action="" method="post">
  {% csrf_token %}
  <div class="form-inline justify-content-center">
    {{form.nombre}}
    <div class="btn-toolbar">
    <button type="submit" class="btn btn-dark mr-2">Buscar</button>
  </div>
  </div>
</form>
</div>
<br>
{% for c in query %}
<div class="container jumbotron">
  <div class="row">
    <div class="col my-auto text-center">
      <img src={{c.imagen.url}} height="190" width="286" >      
    </div>
    <div class="col-md-auto my-auto">
     <h5 class="text-center">Nombre:</h5><p class="text-center">{{c.nombre}}</p>
     <h5 class="text-center">Descripción:</h5><p class="text-center">{{c.descripcion}}</p>
    </div>
     <div class="col my-auto">
     <h5 class="text-center">Apellidos:</h5><p class="text-center">{{c.apellidos}}</p>
     <h5 class="text-center">Afiliado:</h5><p class="text-center">{{c.es_afiliado}}</p>
    </div>
    <div class="col my-auto text-center">
      <a href="#" class="btn btn-dark m-auto">Ver perfil</a>
    </div>
  </div>
  <br>
</div>
{% if forloop.counter|divisibleby:3 %}
  </div>
    <div class="row">
    {% endif %}
    {% empty %}
      <h3 class="display-2 text-center"> No se han encontrado resultados</h3>
{% endfor %}
</div>
{% endblock %}
