{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="text-center">Detalles de pago</h1>
<div class="bottom-footer">
  <div class="container jumbotron">
    
      <div class="col-4">
        <h5 class="text-center">Prueba de envío:</h5><p class="text-center"><img src={{compra.imgprueba_set.all.0.imagen.url}} height="300" width="300" class="border border-dark"></p>
      </div>
      <div class="col-4">
        <h5 class="text-center">Vendedor:</h5><p class="text-center">{{compra.vendedor}}</p><br>
        <h5 class="text-center">ID de la compra:</h5><p class="text-center">{{compra.id}}</p><br>
        <h5 class="text-center">Precio de la impresión:</h5><p class="text-center">{{compra.precio}} €</p><br>
        {% if compra.vendedor.email_paypal %}
        <div class="text-center">{{formPago.render}}</div>
        {% else %}
        <div class="text-center">El vendedor no ha registrado cuenta de PayPal. Consulte sus datos en: {{compra.vendedor.email}}</div>
        {% endif %}
      </div>
      <div class="col-4">
        <h5 class="text-center">Comprador:</h5><p class="text-center">{{compra.comprador}}</p><br>
        <h5 class="text-center">Fecha de la compra:</h5><p class="text-center">{{compra.fecha_compra}}</p><br>
        <h5 class="text-center">A pagar:</h5><p class="text-center">{{precio}} €</p>
      </div>
    
  </div>
</div>
{% endblock %}