#body{
  box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bottom-footer{
  flex:1;
}

.index-icons{
  margin: auto;display:block;
}

ul{
  list-style-type:none;
}

.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
