{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bottom-footer">
    <div class="container">
        <h1 class="display-3 text-center">Cancelar Suscripción</h1>
        <br>
        <p class="lead ">A continuacón se detallan los pasos a seguir para cancelar la suscripción al sistema de afiliados de TreeD, recuerde que 
            la cancelación de este servicio <b>tendrá efecto inmediato</b> perdiendo las ventajas que este ofrece.
        </p>
        <p ><b>1.</b> Inicie sesión en su cuenta de paypal.</p>
        <p ><b>2.</b> Haga clic en el icono el engranaje (se encuentra en la parte superior derecha).</p>
        <p ><b>3.</b> Haga clic en Pagos.</p>
        <p ><b>4.</b> Haga clic en Administrar pagos automáticos. Desde aquí podrá cancelar su suscripción al sistema de afiliados de TreeD.</p>
        <p >Con cualquier problema o duda no dude en contactarnos en treedispp@gmail.com</p>
    </div>
</div>
{% endblock %}