{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bottom-footer">
<div class="jumbotron">
    <h1 class="display-1 text-center ">Bienvenido a TreeD</h1>
    <p class="lead text-center">Aquí encontrarás impresiones 3D</p>
    <hr class="my-4">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4 ">
        <form action="/list/" method="post">
          <div class="input-group">
            {% csrf_token %}
            {{form.nombre}}
               
              <span class="input-group-btn">
                  <button class="btn btn-dark" type="submit">Buscar</button>
              </span>
          </div>
        </form>
      </div>
  </div>
  </div>
<br>
<div class="container">
<div class="row ">
    <div class="col-md-4">
      <img class="index-icons" src="{% static "3d-printer.png" %}" alt="Smiley face" height="120" width="120">
      <h3 class="text-center">Impresiones 3D</h3>
      <p class="lead mb-0 text-center">Vende tus impresiones 3D y saca partido a tu impresora 3D</p>
      <br>
      <div class="text-center">
        {% if user.is_authenticated %}
        <a href="/misPublicaciones/" class="btn btn-dark btn-lg">¡Publica ahora!</a>
        {% else %}
        <a href="/register/" class="btn btn-dark btn-lg">¡Regístrate Ahora!</a>
        {% endif %}
    </div>
    <br>
    </div>
    <div class="col-md-4">
      <img class="index-icons" src="{% static "presupuesto_default.png" %}" alt="Smiley face" height="120" width="120">
      <h3 class="text-center">Presupuestos</h3>
      <p class="lead mb-0 text-center">Pida impresiones completamente personalizadas a los vendedores</p>
      <br>
      <div class="text-center">
        <a href="/usuarios/listar/" class="btn btn-dark btn-lg">¡Busca Vendedores!</a>
      </div>
      <br>
    </div>
    <div class="col-md-4">
      <img class="index-icons" src="{% static "affiliate.png" %}" alt="Smiley face" height="120" width="120">
      <h3 class="text-center">Afiliados</h3>
      <p class="lead mb-0 text-center">Forma parte de nuestro sistema de afliados y aumenta tus ventas</p>
      <br>
      <div class="text-center">
        <a href="/hazteAfiliado/" class="btn btn-dark btn-lg">¡Hazte Afiliado!</a>
      </div>
      <br>
      </div>
  
    </div>
</div>
</div>
{% endblock %}