{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="bottom-footer">
    <h1 class="text-center"> Mis Impresiones Publicadas</h1> <br> <br>
{% for i in query %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-4 my-auto text-center">
                    <img src={{i.imagen_set.all.0.imagen.url}} height="190" width="286" >
                </div>
            

                <div class="col-lg-4 my-auto">
                    <h5 class="text-center">Nombre:</h5><p class="text-center">{{i.nombre}}</p>
                    <h5 class="text-center">Precio:</h5><p class="text-center">{{i.precio}}</p> 
                       
                </div>

                <div class="col-lg-4 my-auto text-center">
                    
                        <a href="{% url 'mostrarImpresion_url' i.idImpresion %}" class="btn btn-dark m-auto">Ver</a> <br> <br>
                        <a href="#" class="btn btn-dark m-auto">Editar</a><br> <br>
                        <a href="#" class="btn btn-dark m-auto">Eliminar</a><br> <br>
                
                </div>
                
            </div>  <br>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}