{% extends 'base.html' %}
{% load static %}
{% block content %}
 
<div class="bottom-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
        <br>

        <img src={{perfil.imagen.url}} class="img-fluid" alt="Responsive image" >
        <br>
        <br>
        {% if user.perfil.id == perfil.id %}
          <a href="#" class="btn btn-dark m-auto">Editar Perfil</a>
        {% endif %}
      </div>
        
      <div class="col-lg-6 ">
        <br>
        <h5 >Apodo:</h5>
        <p>{{perfil.usuario.username}}</p>
        
        {% if user.perfil.id == perfil.id %}
          <br>
          <h5>Nombre:</h5>
          <p>{{perfil.nombre}}</p>
        {% endif %}

        {% if user.perfil.id == perfil.id %}
          <br>
          <h5>Apellidos:</h5>
          <p>{{perfil.apellidos}}</p>
        {% endif %}

        {% if user.perfil.id == perfil.id %}
          <br>
          <h5>Email:</h5>
          <p>{{perfil.email}}</p>
        {% endif %}
    
        <br> 
        <h5>Descripción:</h5>
        <p>{{perfil.descripcion}}</p>

        <br>
        {% if user.perfil.id == perfil.id %}
          <h5>Direcciones:</h5>
          {% for d in direcciones %}
            <p>{{d.direccion}}</p>
          {% endfor %}
        {% endif %}

        <br>
        
      </div>    
    </div>
    <div class="jumbotron">
      <div class="row">
        <h5 class="text-center">Impresiones:</h5>
          {% for i in impresiones %}
            <p class="text-center">{{i.nombre}}</p>
          {% endfor %}
      </div>
    </div>
  </div>
</div>


{% endblock %}