{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="bottom-footer">
  <div class="container">
    <h1 class="text-center">Mi Perfil</h1>
    <div class="jumbotron">
      <div class="row">
        <div class="col-lg-6 text-center">
          <br>
          <img src={{perfil.imagen.url}} class="img-fluid border border-dark" height="200" width="200">
          <br>
          <br>
          {% if user.perfil.id == perfil.id %}
          <a href="{% url 'editarPerfil_url' %}" class="btn btn-dark m-auto">Editar Perfil</a> <br> <br> <br>
          <a href="{% url 'editarDirecciones_url' %}" class="btn btn-dark m-auto">Editar Direcciones</a><br> <br> <br>
          <a href="{% url 'editarPassword_url' %}" class="btn btn-dark m-auto">Editar Contraseña</a>
          <div class="text-center">{{formAfiliado.render}}</div>
          {% endif %}
        </div>

        <div class="col-lg-6 ">
          <br>
          <div><h5>Apodo: </h5> 
          <p>{{perfil.usuario.username}} 
            {%if perfil.es_afiliado%}
            <img src="{% static "tick.png" %}" height="20" width="20" class="float-left mr-2"></p>
            {%endif%}
          </div>

          {% if user.perfil.id == perfil.id %}
          <br>
          <h5>Nombre:</h5>
          <p>{{perfil.nombre}}</p>
          {% endif %}

          {% if user.perfil.id == perfil.id %}
          <br>
          <h5>Apellidos:</h5>
          <p>{{perfil.apellidos}}</p>
          {% endif %}

          {% if user.perfil.id == perfil.id %}
          <br>
          <h5>Email:</h5>
          <p>{{perfil.email}}</p>
          {% endif %}

          <br>
          <h5>Descripción:</h5>
          <p>{{perfil.descripcion}}</p>

          {% if user != perfil.usuario %}
          <br>
          <a href="{% url 'pedirPresupuesto_url' perfil.id %}" class="btn btn-dark m-auto">Pedir Presupuesto</a>
          {%endif%}

          <br>
          {% if user.perfil.id == perfil.id %}
          <h5>Direcciones:</h5>
          {% for d in direcciones %}
          <p>{{d}}</p>
          {% endfor %}
          {% endif %}

          <br>

        </div>
      </div>
    </div>

    <h1 class="text-center">Impresiones</h1>
    <div class="jumbotron">
      <div class="row">
        {% for i in impresiones %}
        <div class="col-lg-4">
          <div class="card mx-auto" style="width: 18rem;">
            <img class="card-img-top" src={{i.imgimpresion_set.all.0.imagen.url}} height="190" width="286">
            <div class="card-body">
              <h5 class="card-title text-center">{{i.nombre}}</h5>
              <div class="col text-center">
                <a href="{% url 'mostrarImpresion_url' i.id %}" class="btn btn-dark m-auto">Ver</a>
              </div>
            </div>
          </div>
          <br>
        </div>
        {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="row">
        {% endif %}
        {% empty %}
        <h3 class="text-center"> No se han encontrado resultados</h3>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>


{% endblock %}