{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<h1 class="text-center">Mis Compras</h1>
<div class="bottom-footer">
  {% for c in compras %}
  <div class="container jumbotron">
    <div class="row">
      <div class="col-lg-4 my-auto text-center">
        <img src={{c.imgcompra_set.all.0.imagen.url}} height="200" width="200" class="img-fluid border border-dark">
      </div>
      <div class="col-lg-4 my-auto">
       <h5 class="text-center">Nombre:</h5><p class="text-center">{{c.id}}</p>
       <h5 class="text-center">Fecha de compra:</h5><p class="text-center">{{c.fecha_compra}}</p>
       <h5 class="text-center">BASURA:</h5><p class="text-center">{{c.opinion.opinion}}</p>
      </div>
       <div class="col-lg-4 my-auto">
       <h5 class="text-center">Precio:</h5><p class="text-center">{{c.precio_impresion}}€</p>
       <h5 class="text-center">Vendedor:</h5><p class="text-center">{{c.vendedor}}</p>
       <h5 class="text-center">Estado:</h5><p class="text-center">    
              {% if c.imgprueba_set.first.imagen == None %}
                PENDIENTE
              {% else %}
                ENVIADO
              {%endif%}
        </p>
      </div>
    </div>
    <br>
  </div>
  {% empty %}
  <h1 class="text-center display-4">No has realizado ninguna compra</h1>
  {% endfor %}
</div>
{% endblock %}

