<html>
  <head>
    <meta charset="utf-8">
    <title>Listar compras</title>
  </head>
  <body>
    <table>
        <thread>
            <tr>
              <td>Fecha de compra</td>
              <td>Nombre</td>
              <td>Precio</td>
            </tr>
        </thread>
        <tbody>
          {% for c in compras %}
          <tr>
              <td>{{c.fechaDeCompra}}</td>
          {% endfor %}
          {% for i in impresiones %}
            <td>{{i.nombre}}</td>
            <td>{{i.precio}}</td>
          {% endfor %}
          </tr>
        </tbody>
    </table>
  </body>
</html>