{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="text-center">Mis Ventas</h1>
<div class="bottom-footer">
  {% for v in query %}
  <div class="container jumbotron">
    <div class="row">
      <div class="col-lg-4 my-auto text-center">
        <img src={{v.imagenes.all.0.imagen.url}} height="190" width="286" >
      </div>
      <div class="col-lg-4 my-auto">
       <h5 class="text-center">Nombre de la impresión:</h5><p class="text-center">{{v.nombreImpresion}}</p>
       <h5 class="text-center">Fecha de compra:</h5><p class="text-center">{{v.fechaDeCompra}}</p>
      </div>
       <div class="col-lg-4 my-auto">
       <h5 class="text-center">Precio:</h5><p class="text-center">{{v.precioImpresion}}€</p>
       <h5 class="text-center">Comprador:</h5><p class="text-center">{{v.comprador}}</p>
      </div>
    </div>
    <br>
  </div>
  {% endfor %}
</div>
{% endblock %}

