{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="text-center">Mis Ventas</h1>
<div class="bottom-footer">
  {% for v in query %}
  <div class="container jumbotron">
    <div class="row">
      <div class="col-lg-4 my-auto text-center">
        <img src={{v.imgcompra_set.all.0.imagen.url}} height="190" width="286" >
      </div>
      <div class="col-lg-4 my-auto">
       <h5 class="text-center">Nombre de la impresión:</h5><p class="text-center">{{v.nombre_impresion}}</p>
       <h5 class="text-center">Fecha de compra:</h5><p class="text-center">{{v.fecha_compra}}</p>
       {% if v.imgprueba_set.all.0 == None %}
       <div class="text-center">
       <a href="{% url 'subirImagenesPrueba_url' v.id %}" class="btn btn-dark ">Subir Pruebas de Envío</a></div>
       {% endif %}
      </div>
       <div class="col-lg-4 my-auto">
       <h5 class="text-center">Precio:</h5><p class="text-center">{{v.precio_impresion}}€</p>
       <h5 class="text-center">Comprador:</h5><p class="text-center">{{v.comprador}}</p>
      </div>
    </div>
    <br>
  </div>
  {% endfor %}
</div>
{% endblock %}

