<html>
  <head>
    <meta charset="utf-8">
    <title>Mis impresiones</title>
  </head>
  <body>
    <table>
        <thread>
            <tr>
              <td>Fecha de compra</td>
              <td>Impresion</td>
              <td>Precio</td>
            </tr>
        </thread>
        <tbody>
            {% for c in compras %}
                    <tr>
                        <td>{{c.fechaDeCompra}}</td>
                        <td>{{c.nombreImpresion}}</td>
                        <td>{{c.precioImpresion}}</td>
                    </tr>
            {% endfor %}
          </tbody>
    </table>
  </body>
</html>