<html>
  <head>
    <meta charset="utf-8">
    <title>Mostrar impresion</title>
  </head>
  <body>
    <div class ="col-xs-10 col-sm-8 col-md-8 producto">

        <h5>Nombre:</h5>
        <p>{{impresion.nombre}}<p>
        
        <h5>Descripcion:</h5>
        <p>{{impresion.descripcion}}<p>
    
        <h5>Precio:</h5>
        <p>{{impresion.precio}}<p>

        <h5>Publicador:</h5>
        <p>{{impresion.publicador}}<p>

        <h5>Categorias:</h5>
        <p>{{impresion.categorias}}<p>

        <h5>Imagenes:</h5>
        <p>{{imagenes}}<p>
        
    </div>
  </body>
</html>