<html>
  <head>
    <meta charset="utf-8">
    <title>Mostrar impresion</title>
  </head>
  <body>
    <div class ="col-xs-10 col-sm-8 col-md-8 producto">

      <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            {%for i in impresion.imagen_set%}
            <img src={{i.url}} height="1100" width="500" >
            {% endfor %}
          </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      
        <h5>Nombre:</h5>
        <p>{{impresion.nombre}}<p>
        
        <h5>Descripcion:</h5>
        <p>{{impresion.descripcion}}<p>
    
        <h5>Precio:</h5>
        <p>{{impresion.precio}}<p>

        <h5>Publicador:</h5>
        <p>{{impresion.publicador}}<p>

        <h5>Categorias:</h5>
        <p>{{categorias}}<p>

        <h5>Imagenes:</h5>
        <p>{{imagenes}}<p>
        
    </div>
  </body>
</html>